<div class="container p-3">
    <h1 class="display-3 text-center"> Dashboard </h1>

    <div class="text-center mt-5">
        <div class="row">
            <div class="col">
                <dashboard-card title="Category" routeValue="../category"></dashboard-card>
            </div>
            <div class="col">
                <dashboard-card title="Product" routeValue="../product"></dashboard-card>
            </div>
            <div class="col">
                <dashboard-card title="User" routeValue="../user"></dashboard-card>
            </div>
        </div>
    </div>
</div>